body {
	margin: 0;
	padding: 0;

	font-family: "roboto", arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #283136;

	background-color: white;
}
a {
	text-decoration: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}
.main-header {
	background-color: #eeeeee;
}
.main-naigation { 
	font-size: 16px;
	line-height: 30px;
	color: #000000;	
}
.main-navigation h1 {
	font-size: 55px;
	line-height: 55px;
}
.site-navigation {
	font-size: 16px;
	line-height: 30px;
	list-style: none;
}
.site-navigation, a {
	color: #000000;
	text-transform: uppercase;
}
.site-navigation, a:hover,
.site-navigation, a:focus {
	color: #fb565a;
}
.site-navigation, a:active {
	color: rgba(0, 0, 0, 0.3);
}
.catalog-list {
	list-style: none;
}
.feature-item {
	text-align: left;
}
.feature-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}
.feature-item button {
	font-size: 16px;
	line-height: 18px;
}
.feature-item-1 a  {
	font-size: 16px;
	line-height: 18px;
	color: white;
	background-color: #fb565a;
}
.feature-item-2 a {
	font-size: 16px;
	line-height: 18px;
	color: white;
	background-color: #00ca74
}
.feature-item-3 a {
	font-size: 16px;
	line-height: 18px;
	color: white;
	background-color: #efc84a
}

.social-list {
	list-style: none;
} 

.filter p {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}
.filter-option {
	list-style: none;
	font-size: 16px;
	line-height: 20px;
}
.example h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}
.footer-social b {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}
.footer-social p {
	font-size: 16px;
	line-height: 22px;
    color: #283136;
}
.social-button {
	list-style: none;
}
.site a {
	color: white;
	background-color: #fb565a;
}
.button {
	display: inline-block;
	padding: 20px 40px;
	font: inherit;
	text-align: center;
	color: #ffffff
	background-color: #fb565a;
	text-transform: uppercase;
}
.feature-item-1 .button:hover {
	background-color: #e74246;
	color: #ffffff;
}
.feature-item-1 .button:focus {
	background-color: #d7373b;
	color: #e37376;
}
.feature-item-2 .button:hover {
	background-color: #00bc6c;
	color: #ffffff;
}
.feature-item-2 .button:focus {
	background-color: #00aa62;
	color: #4dc491;
}
.feature-item-3 .button:hover {
	background-color: #eab534;
	color: #ffffff;
}
.feature-item-3 .button:focus {
	background-color: #e5a722;
	color: #edc265;
}
/*сетка*/
.container {
	width: 1160px;
	margin: 0 auto;
	padding: 20px;
}
.wrapper {
	display: flex;
	justify-content: space-between;

}
.main-header {
	margin-bottom: 81px;
}

.main-navigation {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}
.main-header-logo {
	width: 160px;
	height: 65px;
	padding-top: 50px;
	
}
.site-navigation {
	display: flex;
	justify-content: space-between;
	width: 440px;
	margin: 0;
	padding-top: 71px;
}
.site-navigation-box {
	width: 160px;
	margin: 0;
	padding-top: 75px;
	text-align: right;
}
.site-navigation-box svg {
	padding-right: 16px;
}
.main-navigation-wrapper {
	width: 100%;
}
.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.catalog-list {
	display: flex;
    width: 1100px;
	margin-right: 100px;
	padding: 0;
	
}
.catalog-list p {
	padding-bottom: 35px;
	margin : 0;
}
.catalog-list h3 {
	text-transform: uppercase;
}
.feature-item-1 {
	width: 300px;
	margin-right: 100px;
	
}
.feature-item-2 {
	width: 300px;
	margin-right: 100px;
}
.feature-item-3 {
	width: 300px;

}
.main-footer .container {
 	display: flex;
 
}
.social-list {
	width: 260px;
	margin: 0;
	margin-right: 140px;
}
.footer-social {
	width: 560px;
}
.h1 {
	margin-bottom: 110px;
	margin-left: 220px;
    padding-top: 75px;
    width: 760px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;   
}

.example-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0px;
}
.site-box {
	width: 360px;
	align-items: left;
}
.grid {
	display: flex;

}
.example-list-catalog {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: space-between;

}
.filter-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.filter {
	width: 260px;
	height: 616px;
}
.example {
	width: 760px;
	padding-left: 200px;
}
.site-box {
	margin-bottom: 33px;
}
.feedback-form {
	display: flex;
    flex-wrap: wrap;
    width: 760px;
    justify-content: space-between;
}
.feedback-item {
	width: 360px;
}
.feedback-item input {
	width: 360px;
	height: 50px;
	box-sizing: border-box;
	padding-left: 16px;
	border: 2px solid #d7dcde;
	margin-top: 9px;

}
.feedback-item-text input {
	width: 760px;
	height: 118px;
	box-sizing: border-box;
	padding-left: 16px;
	padding-top: 16px;
	padding-bottom: 85px;
	border: 2px solid #d7dcde;
	margin-top: 9px;
}
.feedback button {
	display: block;
	width: 260px;
	background-color: #fb565a;
	text-transform: uppercase;
	color: #ffffff;
	border: 0;
	margin-top: 47px;
}
.feedback h4 {
	font-size: 45px; 
	line-height: 45px;
	font-weight: 600;
	margin-bottom: 43px;
}
.feedback p {
	font-weight: 700;
}
.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	background-color: #e1e1e1;
	border-radius: 50%;
	padding: 0; 
}
.social-list {
	display: flex;
	width: 260px;
	justify-content: space-between;
	padding: 0;
}
.social-button:hover {
	background-color: #e74246;	
}
.social-button:focus {
	background-color: #d7373b;
	color: #e37376;
}
